<%- contentFor('content') %>
<% if (done == 1) { %>
    <div class="row margin-top">
        <div class="col-md-4 col-md-offset-4"><div class="alert alert-success text-center">Job Added Successfully</div></div>
    </div>
<% }%>
<div class="row">
    <div class="col-md-12">
        <h2>Welcome to Tasheer Forum</h2>
    </div>
</div>

<div class="row margin-top">
    <div class="col-md-12">
        <div class="input-group">
            <input type="text" class="form-control input-lg">
            <span class="input-group-btn">
                        <button class="btn btn-primary btn-lg" type="button">Search</button>
                      </span>
        </div>
    </div>
</div>
<div class="row margin-top">
    <div class="col-md-1 col-md-offset-11">
        <a href="/add" class="btn btn-info">Add Job</a>
    </div>
</div>

<% Object.keys(jobs).forEach(function(key) { %>
    <% var category_jobs = jobs[key] %>
    <section class="category-jobs">
        <div class="row margin-top">
            <div class="col-md-12">
                <h4 class="text-maroon"><%= key %></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <% for (post of category_jobs) { %>
                    <li>
                        <span class="h3">
                            <%= post.company_name%>
                        </span>
                        <span class="job-link"><a
                                    href="detail/<%= post.id%>"><%= post.title%></a></span>
                        <span class="pull-right job-date">Dec 18</span>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </section>
<% }); %>